.contenaire{
    width: 50%;
    height: 40%;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 25%;
    margin-top: 40px;
    padding: 20px;
    animation: animat 2s;
}
.contenaire:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 4px 8px #FFC222;
}
.compe{
    color: black;
    text-align: center;
}
#date{
    color: #FFC222;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.imcomp{
    width: 470px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-left:15% ;
}
@media (max-width:768px) {
    .contenaire {
        width: 330px;
        height: auto;
        margin-left: 2.7%;
    }
    .imcomp{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-left:6.5% ;
}
}